<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/learning.css') }}"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/base.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&display=swap" rel="stylesheet">
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
  <style>



  </style>
</head>
<body onload="startGame()">

<!-- nav bar code -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index')}}">MyLightningMcQween</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
         <li class="active"><a href="student_dashboard">Dashboard</a></li>
          <li class="active"><a href="learningPage">Learning</a></li>
          <li class="active"><a href="freestylePage">Freestyle</a></li>
          <li class="active"><a href="quizPage">Quiz</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- container for entire page -->
<div class="container-fluid text-center">
  <div class="row content">
    <!-- show car stats on left side -->
    <div class="col-sm-4 sidenav">
      <h1>Car Status</h1>
          <div class="well">
            <p>display car data here</p>
          </div>
    </div>
    <!-- display 2D map and car -->
    <div class="col-sm-4 text-center">
      <h1>Map</h1>

        <div id="container_canvas" class="container">
          <!-- this is where the map is -->
    </div>


    <!-- drag and drop -->
    <h3>Send Commands!</h3>

      <div id="drag" class="container">
            <!-- <canvas id="myCanvas" width="500" height="300"
                style="border:1px solid #d3d3d3;">


            </canvas> -->
            <div class="ex1" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
             <!--  <img src="/static/img.png" draggable="true" ondragstart="drag(event)" id="drag1" width="88" height="31"> -->
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag1" class="box" style="background: #000099; color: white;"> Forward </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag2" class="box" style="background: #3399ff; color: white;"> Turn Right </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag3" class="box" style="background: #00cc88; color: white;"> Turn Left </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag4" class="box" style="background: #00e673; color: white;"> Reverse </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag5" class="box" style="background: #3399ff; color: white;"> Spin Right </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag6" class="box" style="background: #ff66d9; color: white;"> Spin Left </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag7" class="box" style="background: #cc6600; color: white;"> For 1 second </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag8" class="box" style="background: #ff9966; color: white;"> For 2 seconds </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag9" class="box" style="background: #9900ff; color: white;"> For 3 seconds </div>

            </div>

            <div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<!--            <a><button onclick="send()" class="button">Send command</button></a>-->
            <!-- <a><button onclick="validate()" class="button">Validate</button></a> -->
            <a>{% block button %} {% endblock %}</a>

        </div>

    </div>

    <div class="col-sm-3 sidenav">
        <h1>{% block left%} {% endblock %}</h1>
        <div id="historywell" class="well">
            <p>display car logs here</p>
        </div>

    </div>
</div>
</div>


</body>
</html>