{% extends 'layout.html' %}

{% block body %}
    <header class="mdl-color--cyan-500">
    <h1>Blockly</h1>
    <h1>Command List</h1>
    </header>

    <div class="blockly-editor">
      <div id="blocklyDiv" style="height: 480px; width: 400px;"></div>
        <xml id="toolbox" style="display: none">
          <block type="controls_repeat_ext">
            <value name="TIMES">
              <shadow type="math_number">
                <field name="NUM">5</field>
              </shadow>
            </value>
          </block>
        </xml>
    </div>
{% endblock %}