<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&display=swap" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboard_base.css') }}">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ url_for('student_dashboard')}}">MyLightningMcQween</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
         <li class="active"><a href="student_dashboard">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    


      <h1>Profile</h1>
      {% block body %}{% endblock %}


    <h1 class="mode">Select Mode</h1>
    <div class="btn-group"> 
          <a href="learningPage"><button class="button">Learning Mode</button></a>
          <a href="freestylePage"><button class="button">Freestyle Mode</button></a>
          <a href="quizPage"><button class="button">Quiz Mode</button></a>
    </div>
    <div class="btn-caption"> 
          <button class="button">Learn how to use the web portal!</button>
          <button class="button">Take free realm of your car!</button>
          <button class="button">Test your programming skills!</button>
    </div>

  

</div>


<footer class="container-fluid text-center">
  <p>Lightning McQween</p>
</footer>

</body>
</html>