<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyLightningMcQween</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='node_modules/shepherd.js/dist/css/shepherd-theme-arrows.css') }}">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/learning.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/shepherd.js/dist/js/shepherd.min.js') }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Varela+Round&display=swap" rel="stylesheet">
  </head>





<body onload="startGame()">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('index')}}">MyLightningMcQween</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
         <li class="active"><a href="student_dashboard">Dashboard</a></li>
          <li class="active"><a href="learningPage">Learning</a></li>
          <li class="active"><a href="freestylePage">Freestyle</a></li>
          <li class="active"><a href="freestylePage">Quiz</a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4 sidenav">
      <h1>Car Status</h1>
          <div class="well1">
            <p>display car data here</p>
          </div>
    </div>
    <div class="col-sm-4 text-center">
      <h2>Map</h2>

        <div id="container_canvas" class="container containerMap">
          <!-- this is where the map is -->

    </div>


    <h3 class="first" >Send Commands!</h3>

      <div id="drag" class="container containerCommands">
            <div class="ex1" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">

              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag1" class="box" style="background: #000099; color: white;"> Forward </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag2" class="box" style="background: #3399ff; color: white;"> Turn Right </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag3" class="box" style="background: #00cc88; color: white;"> Turn Left </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag4" class="box" style="background: #00e673; color: white;"> Reverse </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag5" class="box" style="background: #ff3333; color: white;"> Stop </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag6" class="box" style="background: #ff66d9; color: white;"> Spin </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag7" class="box" style="background: #cc6600; color: white;"> For 1 second </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag8" class="box" style="background: #ff9966; color: white;"> For 2 seconds </div>
              <div draggable="true" ondrop="dropNO(event)" ondragstart="drag(event)" id="drag9" class="box" style="background: #9900ff; color: white;"> For 3 seconds </div>

            </div>

            <div class="ex2" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <a><button onclick="send()" class="button">Send command</button></a>
            <!-- <a><button onclick="validate()" class="button">Validate</button></a> -->
        </div>

    </div>

    <div class="col-sm-3 sidenav">
        <h4>{% block left%} History Log{% endblock %}</h4>
        <div id ="historywell" class="well2">
            <p>display from DB</p>
        </div>

    </div>
</div>
</div>

  </body>


    <main>

    </main>
  <script>

        const tour = new Shepherd.Tour({
            defaults: {
                classes: 'shepherd-theme-arrows'
            }
        });

        tour.addStep('example-step1', {
        text: 'hhhhhhhhhhhhhhhh',
        attachTo: '.well1 bottom',
        buttons: [
            {
            text: 'Displays Car Status',
            action: tour.next
            }
        ]
        });
         tour.addStep('example-step1', {
        text: 'hhhhhhhhhhhhhhhh',
        attachTo: '.well2 bottom',
        buttons: [
            {
            text: 'Displays History',
            action: tour.next
            }
        ]
        });
        tour.addStep('example-step1', {
        text: 'hhhhhhhhhhhhhhhh',
        attachTo: '.containerMap bottom',
        buttons: [
            {
            text: 'Displays Car Map ',
            action: tour.next
            }
        ]
        });
        tour.addStep('example-step1', {
        text: 'hhhhhhhhhhhhhhhh',
        attachTo: '.ex1 bottom',
        buttons: [
            {
            text: 'Drag To Send Commands ',
            action: tour.next
            }
        ]
        });
        tour.addStep('example-step1', {
        text: 'hhhhhhhhhhhhhhhh',
        attachTo: '.ex2 bottom',
        buttons: [
            {
            text: 'Command Sent appears here ',
            action: tour.next
            }
        ]
        });


        tour.addStep('example-step1', {
        text: 'hhhhhhhhhhhhhhhhhhhhhhhhhhhhh',
        attachTo: '.button top',
        buttons: [
            {
            text: 'Click to submit command',
            action: tour.next
            }
        ]
        });
        tour.addStep('example-step1', {
        text: 'hhhhhhhhhhhhhhhhhhhhhhhhhhhhh',
        attachTo: '.button top',
        buttons: [
            {
            text: 'Click to submit command or validate here ',
            action: tour.next
            }
        ]
        });
         tour.addStep('example-step1', {
        text: 'hhhhhhhhhhhhhhhh',
        attachTo: '.containerMap bottom',
        buttons: [
            {
            text: 'Thats the end of the tour',
            action: tour.next
            }
        ]
        });


        tour.start()


    </script>
  <script>
var myGamePiece;
var myBackground;
function startGame() {

    myGamePiece = new component(90, 60, "/static/img.png", 280, 175, "image");
    myBackground = new component(350, 350, "/static/map/Map3.jpg", 0, 0, "image");
    myGameArea.start();
}

var myGameArea = {
    canvas : document.createElement("canvas"),
    start : function() {
        this.canvas.width = 350;
        this.canvas.height = 350;

        this.context = this.canvas.getContext("2d");
        //var container_canvas = document.getElementById("container_canvas");
        //document.getElementById("container_canvas").innerHTML = this.canvas;
        var container_canvas = document.getElementById("container_canvas");

        container_canvas.insertBefore(this.canvas, container_canvas.childNodes[0]);
        this.frameNo = 0;
        this.interval = setInterval(updateGameArea, 20);
        window.addEventListener('keydown', function (e) {
      myGameArea.key = e.keyCode;
    })
    window.addEventListener('keyup', function (e) {
      myGameArea.key = false;
    })
  },
    stop : function() {
        clearInterval(this.interval);
    },
    clear : function() {
        this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
    }
}
function component(width, height, color, x, y, type) {
    this.type = type;
    if (type == "image") {
        this.image = new Image();
        this.image.src = color;
    }
    this.width = width;
    this.height = height;
    this.speedX = 0;
    this.speedY = 0;
    this.x = x;
    this.y = y;
    this.update = function() {
        ctx = myGameArea.context;
        if (type == "image") {
            ctx.drawImage(this.image,
                this.x,
                this.y,
                this.width, this.height);
        } else {
            ctx.fillStyle = color;
            ctx.fillRect(this.x, this.y, this.width, this.height);
        }
    }
    this.newPos = function() {
        this.x += this.speedX;
        this.y += this.speedY;
    }
}

function updateGameArea() {
    myGameArea.clear();
    myBackground.newPos();
    myBackground.update();
    myGamePiece.speedX = 0;
    myGamePiece.speedY = 0;
    if (myGameArea.key && myGameArea.key == 37) {myGamePiece.speedX = -1; }
    if (myGameArea.key && myGameArea.key == 39) {myGamePiece.speedX = 1; }
    if (myGameArea.key && myGameArea.key == 38) {myGamePiece.speedY = -1; }
    if (myGameArea.key && myGameArea.key == 40) {myGamePiece.speedY = 1; }
    myGamePiece.newPos();
    myGamePiece.update();
}

//Drag and Drop commands
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

// function drop(ev) {
//   ev.preventDefault();
//   var data = ev.dataTransfer.getData("text");
//   ev.target.appendChild(document.getElementById(data));
  
// }
function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  var isLeft = 'drag1' == data || "drag2" == data || "drag3" == data || "drag4" == data || "drag5" == data || "drag6" == data || "drag7" == data || "drag8" == data || "drag9" == data;
  var nodeCopy = document.getElementById(data).cloneNode(true);
  nodeCopy.id = "img" + ev.target.id;
  if (!isLeft) {
    sourceNode = document.getElementById(data);
    sourceNode.parentNode.removeChild(sourceNode);
  }
  ev.target.appendChild(nodeCopy);
  ev.stopPropagation();
  return false;
}

function dropNO(ev){
  //alert("please lah")
  drop(ev)
  //location.reload();
  var myobj = document.getElementById("imgimgdiv2");
  myobj.remove();
}

function validate() {
  var get_data=document.getElementById("div2");
  textContent = get_data.textContent; 
  readTextFile("/static/quiz1.txt", textContent);

}

function send() {
  var get_data=document.getElementById("div2");
  textContent = get_data.textContent;
  var stringArray = textContent.split(/(\s+\s+)/);
  var newArr = stringArray.filter(function(entry) { return entry.trim() != ''; })
  console.log(newArr);
    //clear send command box
  document.getElementById("div2").innerHTML =""

  //clear prev display on well
  document.getElementById("historywell").innerHTML =""
  //display on well
  for (let i=0; i < newArr.length; i++){
    document.getElementById("historywell").innerHTML += newArr[i] + "<br>"
  }







}

function readTextFile(file, student_input)
{
    var rawFile = new XMLHttpRequest();
    rawFile.open("GET", file, false);
    rawFile.onreadystatechange = function ()
    {
        if(rawFile.readyState === 4)
        {
            if(rawFile.status === 200 || rawFile.status == 0)
            {
                var allText = rawFile.responseText;
                if(String(student_input)==String(allText)){
                  alert("That's correct!! Car shall be moving now!");
                }else{
                  alert("Wrong answer! Try again!")
                }
                
            }
        }
    }
    rawFile.send(null);
}


</script>

</body>
</html>


